body{
	font-size: 20px;
	background-color: #F0FFF0;
	color:	#080707;
}

#header-nav{
	background-color: #6495ED;
	border-radius:0;
	border:0px;
	
}

.navbar-brand{
	margin-top:0;

}
.navbar-brand h1{
	font-family: Helvetica;
	margin-top: 0;
	margin-left: 0;
	color:#1D0707;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list li {
  text-align: center;
   font-size: 1.8em;

}
#nav-list li:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #080707 ;  
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;

}

.menu{
	text-align: center;
}

.main-content{
	background-color: #E6E6FA;
}

 section{
	background-color: #E6E6FA;
	border :20px;
}

 h2{
	text-align: center;
	padding-top:7px;
}
p{padding:20px;
}
#nav-list{
	border-top:10px;
	background-color: #6495ED;
}

.navbar-brand{height:55px;}
